/* Estilo general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

/* Encabezado */
header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 0;
}
nav ul li a {
    color: white !important; /* Sobrescribe Bootstrap */
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

/* Formulario de contacto */
.contacto {
    padding: 20px;
}
.formulario-contacto {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}
.formulario-contacto label {
    font-weight: bold;
}
.formulario-contacto .form-control {
    margin-bottom: 10px;
}

/* Botones */
button {
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #005bb5;
}

/* Pie de página */
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Botones sociales */
.btn-square-social {
    width: 70px !important;
    height: 70px !important;
    border-radius: 50% !important; /* Asegura el borde redondeado */
    display: inline-flex!important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.5em !important;
    color: white !important;
    border: none !important;
    margin: 5px !important;
    cursor: pointer !important;
}

.btn-square-social.btn-facebook {
    background-color: #3b5998; /* Azul de Facebook */
}

.btn-square-social.btn-instagram {
    background-color: #ac2bac; /* Magenta de Instagram */
}

.btn-square-social.btn-whatsapp {
    background-color: #25d366; /* Verde de WhatsApp */
}

.btn-square-social.btn-email {
    background-color: #677319; /* Verde oliva para email */
}

.btn-square-social:hover {
    opacity: 0.8;
}
