/* Estilo general para la página */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif; /* Fuente general */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
    background-color: #f4f4f4; /* Color de fondo */
    color: #333; /* Color de texto */
}

/* Estilo del encabezado */
header {
    background-color: #0073e6; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 20px; /* Espaciado interno */
    text-align: left;
}
header h1 {
    margin: 0; /* Sin margen en el título */
    text-align: center;
}

/* Estilos para la navegación */
nav ul {
    list-style: none; /* Sin viñetas */
    display: flex; /* Elementos en fila */
    justify-content: center; /* Centrado */
    gap: 20px; /* Espacio entre enlaces */
}
nav ul li a {
    color: white; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Negrita */
}
nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar */
}

/* Estilo del formulario */
.formulario-contacto {
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo de botones */
button {
    padding: 10px 20px; /* Padding del botón */
    background-color: #0073e6; /* Fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor */
}
button:hover {
    background-color: #005bb5; /* Fondo más oscuro al pasar */
}

/* Estilo del pie de página */
footer {
    background-color: #0073e6; /* Fondo azul */
    color: white; /* Texto blanco */
    text-align: center; /* Texto centrado */
    padding: 10px; /* Espaciado */
    width: 100%; /* Ancho completo */
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px; /* Fuente más pequeña en móviles */
    }
    nav ul {
        flex-direction: column; /* Navegación vertical */
    }
}

/* Estilo específico para los botones sociales */
.btn-square-social {
    width: 70px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 70px !important;
    text-align: center;
    padding: 0px;
    font-size: 15px;
}

.btn-square-social:hover {
    opacity: 0.8; /* Opacidad al pasar el ratón */
}
